{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ 'title_delete_bug'|trans }}</h1>

<p>{{ 'are_you_sure'|trans }}</p>

<form method="post">
    <button>{{'positive'|trans}}</button>

    <a href="{{ path('show_bug', {'id': id}) }}">{{'negative'|trans}}</a>
</form>

{% endblock %}