{% extends 'base.html.twig' %}

{% block title %}{{ 'hello_bugscontroller'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'latest_bugs'|trans }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'bug_id'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'reporter'|trans }}</th>
                <th>{{ 'project'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for bug in bugs %}
                <tr>

                    <td>
                        <a href="{{ path('show_bug', {'id': bug.id}) }}">{{ bug.id }}</a>
                    </td>
                    <td>{{ bug.description }}</td>
                    <td>{{ bug.reporter.name }}</td>
                    <td>{{ bug.project.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ 'no_bugs_found'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div class="pagination">
    {{ knp_pagination_render(bugs) }}
</div>

{% if app.user %}
    <a href="{{ path('new_bug') }}">{{ 'new_bug'|trans }}</a>
{% endif %}

<a href="{{ path('app_home') }}">{{ 'back_to_main_page'|trans }}</a>

{% endblock %}
