{% extends 'base.html.twig' %}

{%  block body %}

<h1>{{ 'bug'|trans }} {{ bug.title }}</h1>

<table>
    <tbody>
        <tr>
            <th>{{ 'id'|trans }}</th>
            <td>{{ bug.id }}</td>
        </tr>
        <tr>
            <th>{{ 'title'|trans }}</th>
            <td>{{ bug.title }}</td>
        </tr>
        <tr>
            <th>{{ 'description'|trans }}</th>
            <td>{{ bug.description }}</td>
        </tr>
        <tr>
            <th>{{ 'status'|trans }}</th>
            <td>{{ bug.status }}</td>
        </tr>
        <tr>
            <th>{{ 'created'|trans }}</th>
            <td>{{ bug.createdAt|date('Y-m-d H:i')|default('-') }}</td>
        </tr>
        <tr>
            <th>{{ 'updated'|trans }}</th>
            <td>{{ bug.updatedAt|date('Y-m-d H:i')|default('-') }}</td>
        </tr>
        <tr>
            <th>{{ 'from_what_project'|trans }}</th>
            <td>{{ bug.project.name }}</td>
        </tr>
        <tr>
            <th>{{ 'reporter'|trans }}</th>
            <td>{{ bug.reporter.name }}</td>
        </tr>
    </tbody>
</table>

    <a href="{{ path('latest_bugs') }}">{{ 'back_to_list'|trans }}</a>

{% if app.user %}
    <a href="{{ path('edit_bug',{'id': bug.id}) }}">{{ 'edit_bug'|trans }}</a>

    <a href="{{ path('delete_bug', {'id': bug.id}) }}">{{ 'delete_bug'|trans }}</a>
{% endif %}

{% endblock %}