{% extends 'base.html.twig' %}

{% block title %}{{ 'log_in'|trans }}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% else %}
            <p>
                <a href="{{ path('app_register') }}">{{ 'register_new_admin_here'|trans }}</a>
            </p>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'you_are_logged_in_as'|trans }} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'please_sign_in'|trans }}</h1>
        <label for="username">{{ 'email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">{{ 'password'|trans }}</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'sign_in'|trans }}
        </button>
    </form>
{% endblock %}
