{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_project'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit_project'|trans }}</h1>

    {{ include('project/_form.html.twig', {'button_label': 'update'|trans}) }}

    <a href="{{ path('app_project_index') }}">{{ 'back_to_list'|trans }}</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
