{% extends 'base.html.twig' %}

{% block title %}{{ 'project_index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'project_index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for project in project %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>
                    {% if app.user %}
                    <a href="{{ path('app_project_show', {'id': project.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(project) }}
    </div>

{% if app.user %}
    <a href="{{ path('app_project_new') }}">{{ 'create_new'|trans }}</a>
{% endif %}

<a href="{{ path('app_home') }}">{{ 'back_to_main_page'|trans }}</a>

{% endblock %}
