{% extends 'base.html.twig' %}

{% block title %}{{ 'new_project'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create_new_project'|trans }}</h1>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('app_project_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}
