{% extends 'base.html.twig' %}

{% block title %}{{ 'project'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'project'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans }}</th>
                <td>{{ project.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_index') }}">{{ 'back_to_list'|trans }}</a>

{% if app.user %}
    <a href="{{ path('app_project_edit', {'id': project.id}) }}">{{ 'edit'|trans }}</a>
{% endif %}

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
