{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'change_password_user'|trans }}: {{ user.name }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }}
    <button class="btn btn-primary">{{ 'change_password_user'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}