{% extends 'base.html.twig' %}

{% block title %}{{ 'user'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'password'|trans }}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{{ 'roles'|trans }}</th>
                <td>{{ user.roles }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>{{ 'created_at'|trans }}</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">{{ 'back_to_list'|trans }}</a>


{% if app.user %}
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'edit'|trans }}</a>
{% endif %}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
